.form {
    background-color: #cdcdcd;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    color: #c50941;
    border-radius: 5px;
}

.label {
    font-size: 15px;
    margin: 0;
}

input {
    border: solid 3px #32a7b1;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    background-color: #c5092f;
    color: white;
    border: 0;
    width: 100px;
    padding: 10px;
}